*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*.sbatch
data/*
logs/*
normal_corrected/*
normal_corrected2/*
*.avi
*.mp4
image_logs/*
submodules/*
*.log
std_logs/*